<div class="container">
    <div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="email" name="email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="bookrequest">Book Name</label>
      <input type="text" class="form-control" id="requestbook" placeholder="Enter book name" [(ngModel)]="BookRequest" name="BookRequest">
    </div>
    <div class="form-group">
        <label for="authorname">Author Name</label>
        <input type="text" class="form-control" id="authorname" placeholder="Enter author name" [(ngModel)]="AuthorRequestedName" name="AuthorRequestedName">
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSubmitClick()">Submit</button>
</div>