<div class="container">
    <h1 class="well">Welcome again !!</h1>
    <form>
        <div class="form-group">
          <label for="exampleInputPassword1">Username</label>
          <input type="text" class="form-control" id="username" placeholder="Username" [(ngModel)]="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">New Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="password" name="password" #newPassword="ngModel" minLength="5" required>
          <ul class="text-danger list-unstyled" *ngIf="newPassword?.invalid && (newPassword.errors?.dirty || newPassword.errors?.touched)">
            <li *ngIf="newPassword.errors?.required">Password is required !!</li>
            <li *ngIf="confirmPassword.errors?.minLength">Should be at least of 5 characters long !!</li>
          </ul>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Confirm Password</label>
            <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password" [(ngModel)]="confirmPassword" #confirmPasswordText="ngModel" name="confirm-password" minLength="5" required>
            <ul class="text text-danger list-unstyled" *ngIf="confirmPasswordText?.invalid &&(confirmPasswordText.errors?.dirty || confirmPasswordText.errors?.touched)">
              <li *ngIf="confirmPasswordText.errors?.required">Can't be blank !!</li>
              <li *ngIf="confirmPasswordText.errors?.minLength">Should be at least of 5 characters long !!</li>
            </ul>
        </div>
        <button type="submit" class="btn btn-primary" (click)="onSubmitClick()">Submit</button>
      </form>      
</div>