<h2 class="page-header" >Login</h2>
<form class="form-signin" (submit)="onLoginSubmit()">
        <div class="form-group">
          <label for="Username">Username</label>
          <input type="text" class="form-control" #usernameText="ngModel" placeholder="Enter Username" [(ngModel)]="username" name="username" required>
          <ul class="text-danger list-unstyled" *ngIf="usernameText?.invalid && (usernameText?.touched || usernameText?.dirty) ">
            <li *ngIf="usernameText.errors?.required"> 
                Username is required !!
            </li>
          </ul>
        </div>
        <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" #passwordText="ngModel" placeholder=" Enter Password" [(ngModel)]="password" name="password" required>
        <ul class="text-danger list-unstyled" *ngIf="passwordText?.invalid && (passwordText?.touched || passwordText?.dirty) ">
          <li *ngIf="passwordText.errors?.required">
            Password is required !!
          </li>
        </ul>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label><br>
          <span class="text-danger" (click)="onForgotClick()">Forgot password ?</span>
        </div>
        <input class="btn btn-lg btn-primary" type="submit" value="Login">
</form>