<div class="container">
  <div class="card text-center" *ngFor="let item of cartData; let i = index">
      <div class="card-header">
        <b>{{item.title}}</b>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{item.author}}</h5>
        <p class="card-text">{{item.description}}</p>
          <button type="button" class="btn btn-primary" (click)="onBuyClick(item._id)"  name="bookName">Buy at <b>
            {{ item.price }}</b></button>
      </div>
      <div class="card-footer text-muted">
        &copy; rupeshiya
      </div>
      <div class="jumbotron" *ngIf="item === undefined">
          <h1 class="text-center">Cart is empty !!</h1>
          <button class="btn btn-primary" [routerLink]="['/books']">Find Books</button>
        </div>
    </div>
    <div class="card-footer text-center">
      <!-- <h4>Total:-{{totalCost}}</h4> -->
      <button class="btn btn-info" style="width: 100%">Pay ${{totalCost}}</button>
    </div>
    
</div>