<!-- <ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar> -->
<!-- <img src="https://media.giphy.com/media/ogyoTLLtAcxZS/giphy.gif" alt="photo"> -->
<!-- </img> -->
<app-navbar></app-navbar>
<div class="container">
        <flash-messages></flash-messages>
        <ng-http-loader></ng-http-loader>
        <router-outlet></router-outlet>
</div>