<div class="container">
  <h1 class="text-center">All reviews</h1>
    <div class="card text-center" *ngFor="let review of reviews">
      <!-- <img src="avatar" alt="avatar" class="img-circle img-responsive img-center"> -->
        <div class="card-header">
          <b>header</b>
        </div>
        <div class="card-body">
          <h5 class="card-title">title</h5>
          <p class="card-text">{{review.review}}</p>
        </div>
        <div class="card-footer text-muted">
          &copy; rupeshiya
        </div>
      </div>
      <hr>
  <form>
    <div class="form-group">
      <label for="exampleFormControlTextarea1"><b>Your Review !</b></label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="review" name="review"></textarea>
      <div>
          <input type="file" #filePicker (change)="onSelectFile($event)" name="file">
          <button class="btn btn-info" type="button" (click)="filePicker.click()">Select File</button>
          <!-- <button class="btn btn-info" (click)="onUploadFileClick()">Upload</button> -->
      </div>
      <button class="btn btn-primary" (click)="onReviewSubmit()">Submit</button>
    </div>
  </form>
</div>