<div class="container">
  <h3 class="text-center">Admin</h3>
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Admin</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let admin of admins; let i = index">
      <th scope="row">{{ i +1 }}</th>
      <td>{{ admin.name }}</td>
      <td>{{ admin.username }}</td>
      <td>{{ admin.email }}</td>
      <button mat-raised-button type="button" color="warn" (click)="removeAdmin(admin._id)">Delete</button>
    </tr>
  </tbody>
</table>
</div>