<div class="container">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">ISBN</th>
            <th scope="col">TITLE</th>
            <th scope="col">AUTHOR</th>
            <th scope="col">PUBLISHER</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books; let i = index">
            <th scope="row">{{i + 1}}</th>
            <th scope="row">{{book.isbn}}</th>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.publisher}}</td>
            <!-- <td>{{book._id}}</td> -->
            <!-- <form action=""></form> -->
            <button type="button" mat-button *ngIf="admin" class="btn btn-success" color="primary" (click)="updateBook(book._id)">Update</button>
            <!-- <a type="submit" class="btn btn-danger" [href]="'/api/'+book._id">Delete</a> -->
            <button type="button" mat-button *ngIf="admin" value="Delete" class="btn btn-danger" (click)=" confirmDelete(book._id,book.title)" color="warn">Delete</button>
            <button class="btn btn-info" mat-button (click)="getBookDetails(book._id)" color="accent">Details</button>
            <button class="btn btn-primary" *ngIf="authService.loggedIn() && !admin" (click)="onReviewClick(book._id)">Reviews</button>
          </tr>
        </tbody>
      </table>
      <!-- <mat-paginator [length]="pageLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"></mat-paginator> -->
  </div>
  