<form>
  <div class="form-group">
    <label for="exampleInputEmail1">City</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter City" [(ngModel)]="city" name="city" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">State</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="State" name="state"    [(ngModel)]="state" required>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Nearby Address</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="nearby" [(ngModel)]="nearby" required></textarea>
  </div>
  <div class="form-group">
      <label for="exampleInputPassword1">Flat Number </label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Flat Number" name="flatNumber" [(ngModel)]="flatNumber" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Mobile number</label>
    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Mobile Number" name="mobNumber" [(ngModel)]="mobNumber" required>
  </div>
  <div class="form-group">
      <label for="exampleInputPassword1">Country</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Country" name="Country" [(ngModel)]="country" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Pin Code</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Pin Code" name="pinCode" [(ngModel)]="pinCode" required>
  </div>
  <button type="submit" class="btn btn-primary" (click)="onConformClick()">Place Order</button>
</form>