<div class="container">
    <form action="/api" method="POST" #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
          <label for="ISBN">ISBN</label>
          <input type="text" class="form-control" id="ISBN" placeholder="Enter ISBN number" ngModel #isbn="ngModel" name="isbn" required>
        </div>
        <div class="form-group">
          <label for="title">Title Of Book</label>
          <input type="text" class="form-control" id="title" placeholder="Enter title of the book"  #title="ngModel" name="title" ngModel required>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Author Name</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Author Name" #author="ngModel" name="author" ngModel required>
        </div>
        <div class="form-group">
            <label for="title">Publisher</label>
            <input type="text" class="form-control" id="title" placeholder="Enter Publisher"  #publisher="ngModel" name="publisher" ngModel  required>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price" placeholder="$"  #price="ngModel" name="price" ngModel  required>
          </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Agreed</label>
        </div>
        <button type="submit" class="btn btn-primary" (click)="onSubmitButton()">Submit</button>
      </form>
</div>
