<div class="image">  
     <header class="header">
        <div class="text-box">
            <div class="header-primary">
                <span class="header-primary-main">Welcome</span>
                <span class="header-primary-sub">Be the best version of yourself</span>
            </div> 
            <button  class="btn btn-lg" id="registerButton" style="background-color:rgba(28, 196, 173, 0.658)" type="button" *ngIf="!authService.loggedIn()" [routerLink]="['/register']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Register</button>
        </div>
     </header>
</div>
