body ,html {
  height: 100%;
  margin: 0%;
}
.image{
  background-image:linear-gradient(to bottom, rgba(12, 11, 11, 0.075) , rgba(27, 26, 26, 0.1)) , url(https://media.giphy.com/media/ogyoTLLtAcxZS/giphy.gif); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  /* Set up positioning */
  position: fixed;
  /* top: 0; */
  left: 0;
  /* margin: 0%; */
  /* overflow: hidden; */
} 
@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .image {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
.image > text {
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  /* margin-left: */
  color: blue;
}

.text-box{
  position: absolute;
  top: 40%;
  left: 50%;
  /* translate is relative to the element so will translate the element width and top by 50% */
  transform: translate(-50%, -50%);
  text-align: center;

}

/* for slogan */
.header-primary{
  color: #09b380fd;
  text-transform: uppercase;
  /* fix for animation shake */
  backface-visibility: hidden;
}

.header-primary-main{
  /* block adds break before and after its element */
  display: block; 
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 35px;
  /* animation name that we defined below */
  animation-name: moveInleft;
  animation-duration: 2s;
  /* ease-out starts slower ends faster */
  animation-timing-function: ease-out;
}
.header-primary-sub{
  display: block;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 10px;
  animation-name: moveInright;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  margin-bottom: 50px;
}

/* setting animation  for main headinng*/
@keyframes moveInleft{
  0%{
    opacity: 0;
    /* translateX(-100px) will make it move left */
    transform: translateX(-100px);
  }
  80%{
    /* translateX(10px) will make it move right */
    transform: translateX(10px);
  }
  100%{
    opacity: 1;
    /* translateX(0px) will make it original position*/
    transform: translateX(0);
  }
}
/* setting animations for sub heading */
@keyframes moveInright{
  0%{
    opacity: 0;
    transform: translateX(100px);
  }
  80%{
    transform: translateX(-10px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}
.btn{
  transform: translateY(-3px);
}
.btn:hover{
  transform: translateY(-1px);
}