<div class="container">
  <h2 class="page-header">Register</h2>
  <form (submit)="onRegisterSubmit()" >
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" #nameText="ngModel" [(ngModel)]="name" name="name" class="form-control" id="name" placeholder="Enter Name" required>
      <ul class="text-danger list-unstyled" *ngIf="nameText?.invalid && (nameText?.touched || nameText?.dirty)">
          <li *ngIf="(nameText?.errors.required)">
            Name is required .
          </li>
      </ul>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" #usernameText="ngModel" [(ngModel)]="username" name="username" class="form-control" id="username" placeholder="Enter Username" minlength="3" required>
      <ul class="text-danger list-unstyled" *ngIf="usernameText?.invalid && ( usernameText?.touched || usernameText?.dirty) ">
          <li *ngIf="usernameText.errors?.required">
              Username is required.
          </li>
          <li class="text-danger list-unstyled" *ngIf="usernameText.errors?.minlength">
              Username should be at least 3 characters long.
          </li>
      </ul>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" #emailText="ngModel" [(ngModel)]="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Email" required>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      <ul class="text-danger list-unstyled" *ngIf="emailText?.invalid && ( emailText?.touched || emailText?.dirty) ">
        <li *ngIf="emailText.errors?.required ">
           Email is required.
        </li>
      </ul>   
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" minlength="5" #passwordText="ngModel" [(ngModel)]="password" name="password" class="form-control" id="password" placeholder=" Enter Password" required>
      <ul class="text-danger list-unstyled" *ngIf="passwordText?.invalid && ( passwordText?.touched || passwordText?.dirty) ">
        <li *ngIf="(passwordText.errors?.required)">
            Password is required.
        </li>
        <li class="text-danger list-unstyled" *ngIf="passwordText.errors?.minlength">
            Password should have at least {{ passwordText.errors?.minlength.requiredLength }} characters long.
        </li>
      </ul>
    </div>
    <div class="form-group" *ngIf="!admin">
        <label for="name">Role</label>
        <input type="text" #roleText="ngModel" [(ngModel)]="role" name="role" class="form-control" id="role" placeholder=" Your role - admin / others" required>
      <ul class="text-danger list-unstyled" *ngIf="roleText?.invalid && ( roleText?.touched || roleText?.dirty)">
      <li *ngIf="(roleText.errors?.required )">
          Role is required.
      </li>
    </ul>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
  </form>
  </div>