<div class="container">
  <div class="card text-center">
      <div class="card-header">
        <b>{{book.title}}</b>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{book.author}}</h5>
        <p class="card-text">{{book.description}}</p>
        <!-- <a href="/" class="btn btn-primary">Buy at <b>$99</b></a> -->
        <button class="btn btn-primary" (click)="onAddToCart()">Add to Cart</button>
        <!-- <form action="/paypal/pay" method="POST">
          <input type="submit" class="btn btn-primary" (click)="onBuyClick()" name="bookName">Buy at <b>
            {{ book.price }}</b>
        </form> -->
      </div>
      <div class="card-footer text-muted">
        &copy; rupeshiya
      </div>
    </div>
</div>